

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;

}

.Section1{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap; 
  min-height: 88vh;
  background-color: rgb(79, 120, 255);
  background-image: url("../images/PS1-Background-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.473));
  min-width: 400px;
  margin: 50px 10px;
  padding: 20px;
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

h1{color: white;
}
h2 {
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  margin: 10px 0;
}
.capaGame{
  width: 200px;
  margin: 10px;

}

#divGames{
  background-color: black;
}
/*
footer {
  position: bottom;
  margin-top: 50px;
  background-color: rgb(43, 43, 43);
  width: 100vw;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
*/


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width:thin;
    scrollbar-color: #8f54a0 #ada4a4;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
    border-radius: 30px;
  }

  *::-webkit-scrollbar-track {
    background: #ada4a4;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 30px;
    border: 1px solid #4f008b;
  }





/*---------------------------------------------------------------------*/

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn {
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}


.openbtn:hover {
  font-size: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #a3a3a3;
  color: rgb(0, 0, 0);
  border: 1px solid white;
  filter: drop-shadow(0 0 5px black);
  translate: (50px, 100px);

}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}
}



/*****************************************/
nav{
  height: 10vh;
  width: 100vw;  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  
}

#listaMENU{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  
  .item-menu{
    padding: 10px;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .item-menu:hover{
    color: rgb(119, 0, 255);
    scale: 1.1;
    transition: 0.3s;
    font-weight: 400;
  }
  
  #listaMENU a{
    text-decoration: none;
  }











  
.icon-bar {
  width: 90px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}



